:root{
	--maroon: #47747E;
	--grey : #EEEEEE;
}

#about{

	height: calc(100vh - 15vh);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255 , 255, 0.4) 50%), url("image/about3.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

}
.about-para{
	max-width: 800px;
	font-size: 20px;
	padding: 7px 10px;
	position: relative;
	border: 1px solid grey;
	cursor: pointer;
	border-radius: 5px;


}
.about-para2{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	display: block;
	opacity: 0;
	background-color: var(--maroon);
	transition: .9s all;

}.about-para:hover{
	color: white;
}
.about-para:hover .about-para2{
	width: 100%;
	opacity: 0.2;
	color: white;
}
.about-text > h1{
	font-size: 50px;
	font-weight: 400;
	line-height: 61.2px;
	color: var(--maroon);

}
#about-detail{
	/*height: 100vh;*/
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255 , 255, 0.4) 50%), url("image/about2.jpg");
	background-size: cover;
	background-position: center;
}
.list{
	width: 100%;
	max-width: 500px;
}
.list > ul > li >a{
	font-size: 25px;
	font-weight: 400;
	line-height: 36.72px;
	color: #000;
	cursor: pointer;
}
.list ul li{
	transition: .5s ease-out;

}
.list ul li:hover, a{
	transform: translateX(10px);

}
.list-para{
	width: 100%;
	max-width: 700px;
	font-size: 20px;
	font-weight: 400;
	line-height: 36.5px;
}
#row-about{
	background-color: #D9D9D9;
}
.quality{
	color: var(--maroon);
	font-size: 50px;
	font-weight: 400;
	line-height: 61.2px;
}
.quality-para{
	font-size: 25px;
	font-weight: 400;
	line-height: 30.6px;
}
.container > ul > li > a{
	font-size: 20px;
	font-weight: 400;
	line-height: 24.48px;
	color: #000;
}
