:root{
	--div-height: 85vh;
}

#client-hero{
	background-color: #EEEEEE;
}
#client-data > h2{
	font-size: 40px;
	font-weight: 400;
	line-height: 48.96px;

}
#client-data > h1{
	font-size: 50px;
	font-weight: 400;
	line-height: 61.2px;
	color: #47747E;
	
}
#client-data > p{
	font-size: 20px;
	font-weight: 400;
	line-height: 36.72px;
	color: #000;
	
}
#client-grid{
	grid-column-gap: 270px !important;
}
.client-name > h2{
	color: #0040ff;
}
.client-name > p{
	color: #000000B2;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.48px;
}
#client-grid-box{
	align-items: center;
	justify-content: center;
	grid-gap: 80px;
}
#right-column{
	height: calc(var(--div-height) - 40vh);
	background-color: #00000040;
	border-bottom: 2px solid #333;
}
#right-column2{
	height: calc(var(--div-height) - 30vh);
	background-color: #00000040;


}
#left-column{
	height: calc(var(--div-height) - 40vh);
	background-color: #00000040;


}
#left-column1{
	height: calc(var(--div-height) - 30vh);
	background-color: #00000040;
	border-bottom: 2px solid #333;


}
#thomas{
	font-size: 20px;
	font-weight: 400;
	line-height: 24.48px;
	position: relative;
}
#thomas:after{
	content: "";
	width: 60%;
	height: 3px;
	position: absolute;
	background-color: #0040ff;
	left: 0;
	bottom: -7px;
}
.thomas-para{
	font-size: 20px;
	font-weight: 400;
	line-height: 24.48px;
}




@media (max-width: 600px){
	#right-column{
		height: calc(var(--div-height) - 35vh);


	}
	#right-column2{
		height: calc(var(--div-height) - 20vh);

	}
	#left-column{
		height: calc(var(--div-height) - 25vh);

	}
	#left-column1{
		height: calc(var(--div-height) - 20vh);

	}
}